*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
header{
    height: 350px;
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1200px;
    
}
.container.header{
    justify-content: center;
    align-items: center;
    img{
        width: 200px;
        
    }
}
.wrapper.menu{
    background-color: #ced2d8;
}
.menu-lista{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    color: #719a45;
    li{
        padding: 1rem 2rem;
        cursor: pointer;
        &:hover{
            background-color: #719a45;
            color: #f9f9f9;
            transition: 0.3s;
        }
    }
}
.container.cardapio{
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    border:2px solid #719a45;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 3rem;
    
}
.content-burguer{
    display: flex;
    align-items: center;
    width: 49%;
    height:200px;
    border:2px solid #719a45;
    gap: 10px;
    border-radius: 0.7rem;
    
    img{
        width: 200px;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem 0px 0px 0.7rem;
    }
    .content-burguer-info{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem 0.5rem;
        width: 100%;
    }
    span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            padding: 0.5rem 1rem;
            margin-right: 1rem;
            border-radius: 0.3rem;
            color: #f9f9f9;
            border: none;
            background-color: #719a45;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: #4b7a3a;
                transition: 0.3s;
            }
        }
    }
}

.modal{
    width: 100dvw;
    height: 100dvh;
    top: 0;
    position: fixed;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    .container-modal{
        width:100dvw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        background-color: #1c1c1c6e;
    }

    .modal-content{
        width: 100%;
        max-width: 500px;
        background-color: #f9f9f9;
        border-radius: 0.7rem;
        position: relative;
        img{
            border-radius: 0.7rem 0.7rem 0rem 0rem;
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .modal-burguer{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;

            textarea{
                width: 100%;
                height: 100px;
                padding: 10px;
            }
            button{
                padding: 1rem;
                border-radius: 0.3rem;
                color: #f9f9f9;
                border: none;
                background-color: #719a45;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    background-color: #4b7a3a;
                    transition: 0.3s;
                }
            }

        }
    }
}
.close-modal{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    line-height: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    color: red;
    font-weight: 900;
    background-color: #f9f9f9;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}
.display-none{
    display: none;
}

.main{
    display: flex;
    gap: 1rem;
    max-width: 1440px;
}
.container-carrinho{
    width: 400px;
    border:2px solid #4b7a3a;
    border-radius: 0.7rem;
    padding: 1rem;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    h3{
        font-size: 24px;
        text-align: center;
        margin-bottom: 1rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 0.5rem;
    }
    li{
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        opacity: 0.6;
    }
}
.valor{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 20px;
    
    span{
        
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.excluir{
    cursor: pointer;
    color: red;
    opacity: 1;
    font-weight: 900;
}