* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;

}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  padding: 0rem 1rem;
}